.red {
  color: red
}

.white {
  color: blue
}

.graygame {
  color: #F7FAFC
}

.greengame {
  color: #68D391
}

.redgame {
  color: #f7fafcb0;
  text-decoration: underline;
}

.currentgame {
  color: red;
}

.animatedcursor {
    position: absolute;
    animation: blinker 1.5s linear infinite;
    color: #F7FAFC;
    font-family: sans-serif;
}

@keyframes blinker {
  50% {
      opacity: 0;
  }
}
